<div class="container mt-5">
  <h1 class="h3"><%= @task_list.name %> - Tasks</h1>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <%= link_to 'New Task', new_backoffice_task_list_task_path(@task_list), class: "btn btn-primary" %>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, backoffice_task_list_task_path(@task_list, task) %></td>
        <td><%= task.status %></td>
        <td>
          <%= link_to 'Edit', edit_backoffice_task_list_task_path(@task_list, task), class: "btn btn-primary btn-sm" %>
          <%= link_to 'Delete', backoffice_task_list_task_path(@task_list, task), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
