<h1><%= @task_list.name %></h1>

<h2>Tasks</h2>
<ul>
  <% @task_list.tasks.each do |task| %>
    <li>
      <%= task.name %> - <%= task.status %>
      <%= link_to 'Delete', backoffice_task_list_task_path(@task_list, task), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit Task List', edit_backoffice_task_list_path(@task_list) %>
<%= link_to 'Back', backoffice_task_lists_path %>
