<!-- app/views/backoffice/subscriptions/_form.html.erb -->
<%= simple_form_for @subscription, url: backoffice_subscription_path(@subscription) do |form| %>
  <%= hidden_field_tag :_method, 'patch' %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
      <ul>
        <% @subscription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plan %>
    <%= form.select :plan, Subscription.plans.keys.map { |plan| [plan.humanize, plan] }, {}, { onchange: 'toggleCreditCardFields()' } %>
  </div>

  <div id="credit-card-fields" style="display: <%= @subscription.premium? ? 'block' : 'none' %>;">
    <h3>Credit Card Information</h3>
    <%= form.fields_for :credit_card do |cc_form| %>
      <div>
        <%= cc_form.label :card_number, "Card Number" %>
        <%= cc_form.text_field :card_number %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <script>
      function toggleCreditCardFields() {
          var plan = document.querySelector("select[name='subscription[plan]']").value;
          var ccFields = document.getElementById("credit-card-fields");
          if (plan === "premium") {
              ccFields.style.display = "block";
          } else {
              ccFields.style.display = "none";
          }
      }
  </script>
<% end %>
