<!-- app/views/backoffice/subscriptions/_form.html.erb -->
<%= simple_form_for @subscription, url: backoffice_subscription_path(@subscription), html: { class: "mt-5" } do |form| %>
  <%= hidden_field_tag :_method, 'patch' %>
  <div class="form-group">
    <%= form.label :plan %>
    <%= form.select :plan, Subscription.plans.keys.map { |plan| [plan.humanize, plan] }, {}, { class: 'form-control', onchange: 'toggleCreditCardFields()' } %>
  </div>

  <div id="credit-card-fields" style="display: <%= @subscription.premium? ? 'block' : 'none' %>;">
    <%= form.fields_for :credit_card do |cc_form| %>
      <div class="form-group <%= 'has-error' if cc_form.object.errors[:card_number].present? %>">
        <%= cc_form.label :card_number, class: "d-block" %>
        <%= cc_form.text_field :card_number, class: "form-control" %>
        <% if cc_form.object.errors[:card_number].present? %>
          <span class="help-block"><%= cc_form.object.errors[:card_number].first %></span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>

  <script>
      function toggleCreditCardFields() {
          var plan = document.querySelector("select[name='subscription[plan]']").value;
          var ccFields = document.getElementById("credit-card-fields");
          ccFields.style.display = plan === "premium" ? "block" : "none";
      }
  </script>
<% end %>
